nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
ul a{
    font-weight: 550;
    text-decoration: none;
    margin: 12px;
    gap:4px;
    color:black;
    font-size:larger;
}